In [1]:
with open('ca_ancora-ud-dev.conllu') as cat:
    catala = [line.split('\t') for line in cat if len(line.split('\t')) == 10]

with open('en_esl-ud-dev.conllu') as eng:
    english = [line.split('\t') for line in eng if len(line.split('\t')) == 10]

In [2]:
import pandas as pd
from collections import Counter

big_cat = []
for line_c in catala:
    big_cat.append(line_c[3])

big_eng = []
for line_e in english:
    big_eng.append(line_e[3])

cat_count = Counter(big_cat).most_common(20)
eng_count = Counter(big_eng).most_common(20)

cat_tags = [tag for tag, count in cat_count]
cat_nums = [count for tag, count in cat_count]
eng_tags = [tag for tag, count in eng_count]
eng_nums = [count for tag, count in eng_count]

df = pd.DataFrame({'CAT top tags': cat_tags, 'CAT values': cat_nums, 'ENG top tags': eng_tags, 'ENG values': eng_nums})

In [3]:
df

#For some reason the database for Catalan is huge compared to the English one

   CAT top tags  CAT values ENG top tags  ENG values
0          NOUN       10464         NOUN        1511
1           ADP        9329         VERB        1240
2           DET        7837         PRON        1086
3         PUNCT        5528          DET         949
4         PROPN        4795        PUNCT         912
5          VERB        4512          ADP         827
6           ADJ        3217          AUX         688
7          PRON        2470          ADV         592
8           AUX        2416          ADJ         573
9           ADV        1733         PART         344
10        CCONJ        1646        CCONJ         316
11        SCONJ        1185        SCONJ         248
12          NUM         834        PROPN         163
13          SYM         502          NUM          84
14            _         157         INTJ           6
15         PART          13          SYM           5
16         INTJ           1            X           5